.app{
    margin-top: 70px;
    display: grid;
  grid-template-columns: auto auto auto ;
  justify-content: space-around;
  row-gap: 20px;

}
.cardd img{
    height: 250px;
}
.styled {
   
   margin-bottom: 30px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  label{
    width: 200px;
    font-weight: bold;
  }
  form{
    border-color: rgb(14, 13, 12);  }
  form div{
    margin-bottom: 20px;
  }
 
.divsub{
    display: flex;
    justify-content: flex-end;
}
 hr{
    text-align: center;
    width: 400px;
}